/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

.grid-cols-24 {
    grid-template-columns: repeat(24, minmax(0, 1fr));
}

grid-cols-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Switch box around each stack */
    .switch-box {
        border: 2px solid #2d3748; /* Border to make it look like a switch outline */
        background-color: #1a202c; /* Darker background for the switch */
        padding: 20px; /* Padding inside the switch box */
        border-radius: 8px; /* Rounded corners for the switch box */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
        margin-bottom: 20px; /* Add margin below each switch */
    }

      /* Status box for regular interfaces */
      .status-box {
        width: 40px; /* Fixed width */
        height: 40px; /* Fixed height */
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        transition: all 0.2s ease-in-out;
    }

    /* Status box for long interfaces */
    .status-box-long {
        min-width: 100px; /* Longer width for large interfaces */
        height: 40px; /* Fixed height */
        display: flex;
        align-items: center;
        justify-content: space-between; /* Spread content evenly */
        padding: 0.5rem; /* Add some padding */
        white-space: nowrap;
        transition: all 0.2s ease-in-out;
    }

    /* Icon container */
    .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; /* Make sure it takes up the full width of the button */
    }

    /* Adjust Ethernet icon size */
    .ethernet-icon {
        font-size: 35;
    }

    /* Number above the Ethernet icon for regular interfaces */
    .number-top {
        font-size: 12px;
        color: white;
        margin-bottom: 4px; /* Add margin between number and icon */
    }

    /* Number below the Ethernet icon for regular interfaces */
    .number-bottom {
        font-size: 12px;
        color: white;
        margin-top: 4px;
    }

    /* Container for the number and button */
    .interface-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    /* Text style for large interface names */
    .interface-name-long {
        font-size: 14px;
        color: white;
        margin-left: 8px;
    }
