<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>Danbyte - {{ title }}</title>
    {% else %}
    <title>Danbyte</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<!-- SIDEBAR -->

<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <i class="fas fa-bars w-6 h-6"></i> <!-- Font Awesome hamburger icon -->
</button>
 
<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
       <ul class="space-y-2 font-medium">
          <li>
             <a href="{{ url_for('index') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fas fa-tachometer-alt text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                <span class="ml-4">Dashboard</span> <!-- Adjusted spacing between icon and text -->
             </a>
          </li>
          <li>
             <a href="{{ url_for('show_switches') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fas fa-server text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                <span class="ml-4">Switches</span> <!-- Adjusted spacing between icon and text -->
                <span class="ml-auto inline-flex items-center justify-center w-6 h-6 text-sm font-medium text-green-500 bg-green-200 rounded-full dark:bg-green-500 dark:text-zinc-950">
                    {{ num_switches.online }}
                </span>
                <span class="ml-2 inline-flex items-center justify-center w-6 h-6 text-sm font-medium text-red-800 bg-red-200 rounded-full dark:bg-red-500 dark:text-zinc-950">
                    {{ num_switches.offline }}
                </span>
             </a>
          </li>
          <li>
             <a href="{{ url_for('show_subnets') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fas fa-project-diagram text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                <span class="ml-4">Subnets</span> <!-- Adjusted spacing between icon and text -->
                <span class="ml-auto inline-flex items-center justify-center px-2 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">3</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fas fa-layer-group text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                <span class="ml-4">VLANs</span> <!-- Adjusted spacing between icon and text -->
                <span class="ml-auto inline-flex items-center justify-center px-2 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fas fa-cogs text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                <span class="ml-4">Settings</span> <!-- Adjusted spacing between icon and text -->
             </a>
          </li>
          <li>
             <a href="{{ url_for('logout') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fas fa-sign-out-alt text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                <span class="ml-4">Logout</span> <!-- Adjusted spacing between icon and text -->
             </a>
          </li>
       </ul>
    </div>
</aside>

<!-- CONTENT -->
<body class="dark:bg-slate-900 bg-slate-400 ">
    <div class="p-4 sm:ml-64">
        {% block content %}{% endblock %}
    </div>
</body>

<script src="https://cdn.tailwindcss.com"></script>
</html>