{% extends "base.html" %}
{% block content %}

<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <!-- Main Grid for Switches and Subnets -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        
        <!-- Favorite Switches Section -->
        <div>
            <div class="text-3xl text-gray-300 dark:text-gray-400 mb-4">
                Favorite Switches <span class="text-blue-400 dark:text-blue-400"> ({{ count_favorite_switches }}) </span>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {% for switch in favorite_switches %}
                <a href="{{ url_for('show_switch', switch_id=switch.id) }}" class="block bg-gray-800 dark:bg-gray-700 p-4 rounded-lg shadow-sm hover:shadow-lg hover:bg-gray-700 dark:hover:bg-gray-600 transition-all duration-200">
                    <div class="flex items-center space-x-4">
                        <!-- Icon for Switch -->
                        <i class="fa-solid fa-right-left text-blue-400 text-4xl"></i>

                        <!-- Switch Information -->
                        <div class="text-left">
                            <div class="text-xl font-medium text-white">{{ switch.hostname }}</div>
                            <div class="text-sm text-gray-400">{{ switch.location }}</div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            <!-- Collect SNMP Data Button -->
            <form action="{{ url_for('collect_snmp_data') }}" method="post" class="mt-6">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded transition-colors duration-200">
                    Update
                </button>
            </form>
        </div>

        <!-- Favorite Subnets Section -->
        <div>
            <div class="text-3xl text-gray-300 dark:text-gray-400 mb-4">
                Favorite Subnets <span class="text-orange-400 dark:text-orange-400"> ({{ count_favorite_subnets }}) </span>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {% for subnet in favorite_subnets %}
                <a href="#" class="block bg-gray-800 dark:bg-gray-700 p-4 rounded-lg shadow-sm hover:shadow-lg hover:bg-gray-700 dark:hover:bg-gray-600 transition-all duration-200">
                    <div class="flex items-center space-x-4">
                        <!-- Icon for Subnet -->
                        <i class="fa-solid fa-diagram-project text-orange-400 text-4xl"></i>
                        <!-- Subnet Information -->
                        <div class="text-left">
                            <div class="text-xl font-medium text-white">{{ subnet.name }}</div>
                            <div class="text-sm text-gray-400">{{ subnet.range }}</div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<!-- Favorite IPs Section -->
<div>
   <div class="text-3xl text-gray-300 dark:text-gray-400 mb-4">
       Favorite IPs <span class="text-green-400 dark:text-green-400"> ({{ count_favorite_ips }}) </span>
   </div>

   <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
       {% for ip in favorite_ips %}
       <a href="{{ url_for('edit_ip', subnet_id=ip.subnet_id, ip_address=ip.address) }}" class="block bg-gray-800 dark:bg-gray-700 p-4 rounded-lg shadow-sm hover:shadow-lg hover:bg-gray-700 dark:hover:bg-gray-600 transition-all duration-200">           <div class="flex items-center space-x-4 justify-between">
               <div class="flex items-center space-x-4">
                   <!-- Conditional Icon for IP based on status -->
                   {% if ip.status == '1' %}
                       <i class="fa-solid fa-network-wired text-green-400 text-4xl"></i>
                   {% elif ip.status == '0' %}
                       <i class="fa-solid fa-network-wired text-red-400 text-4xl"></i>
                   {% elif ip.status == '3' %}
                       <i class="fa-solid fa-network-wired text-yellow-400 text-4xl"></i>
                   {% else %}
                       <i class="fa-solid fa-network-wired text-gray-400 text-4xl"></i>
                   {% endif %}

                   <!-- IP Information -->
                   <div class="text-left">
                       <div class="text-xl font-medium text-white">{{ ip.address }}</div>
                       <div class="text-sm text-gray-400">{{ ip.status }}</div>
                   </div>
               </div>

               <!-- Blinking Warning Icon for Red Status -->
               {% if ip.status == '0' %}
               <i class="fa-solid fa-exclamation-triangle text-red-400 text-xl animate-pulse"></i>
               {% endif %}
           </div>
       </a>
       {% endfor %}
   </div>
</div>




{% endblock %}