{% extends "base.html" %}

{% block content %}
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <!-- Header with the name of the Subnet -->
    <div class="flex justify-between items-center mb-4">
        <div class="text-3xl text-gray-400 dark:text-gray-500">
            IPs in Subnet: {{ subnet.name }}
        </div>
        <button onclick="toggleModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add IP
        </button>
    </div>

    <!-- Status Counts Section -->
    <div class="bg-gray-50 dark:bg-gray-800 p-3 rounded-lg mb-6">
        <div class="grid grid-cols-4 gap-3 mb-2">
            <!-- Active IPs -->
            <dl class="bg-green-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-20">
                <dt class="w-8 h-8 rounded-full bg-green-100 dark:bg-gray-500 text-green-600 dark:text-green-300 text-sm font-medium flex items-center justify-center mb-1">
                    {{ status_counts['Active'] }}
                </dt>
                <dd class="text-green-600 dark:text-green-300 text-sm font-medium">Active</dd>
            </dl>
            <!-- Down IPs -->
            <dl class="bg-red-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-20">
                <dt class="w-8 h-8 rounded-full bg-red-100 dark:bg-gray-500 text-red-600 dark:text-red-300 text-sm font-medium flex items-center justify-center mb-1">
                    {{ status_counts['Down'] }}
                </dt>
                <dd class="text-red-600 dark:text-red-300 text-sm font-medium">Down</dd>
            </dl>
            <!-- Warning IPs -->
            <dl class="bg-yellow-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-20">
                <dt class="w-8 h-8 rounded-full bg-yellow-100 dark:bg-gray-500 text-yellow-600 dark:text-yellow-300 text-sm font-medium flex items-center justify-center mb-1">
                    {{ status_counts['Warning'] }}
                </dt>
                <dd class="text-yellow-600 dark:text-yellow-300 text-sm font-medium">Warning</dd>
            </dl>
            <!-- Available IPs -->
            <dl class="bg-gray-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-20">
                <dt class="w-8 h-8 rounded-full bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-300 text-sm font-medium flex items-center justify-center mb-1">
                    {{ status_counts['Available'] }}
                </dt>
                <dd class="text-gray-600 dark:text-gray-300 text-sm font-medium">Available</dd>
            </dl>
        </div>
    </div>

    <!-- Grid with IP availability and Pie Chart -->
    <div class="grid grid-cols-4 gap-6 mb-6">
        <!-- IP Availability Grid taking 3/4 space -->
        <div class="col-span-3 bg-gray-900 dark:bg-gray-800 p-4 rounded-lg shadow">
            <h3 class="text-xl text-gray-300 dark:text-gray-400 mb-4">IP Availability</h3>
            <div class="grid grid-cols-12 gap-1">
                {% for ip in subnet_range.hosts() %}
                    {% if ip in used_ips %}
                        {% set ip_id = used_ips[ip] %}
                        {% set ip_info = ip_data[ip] %}
                        {% set status = 'Unknown' %}
                        {% if ip_info.status == '1' %}
                            {% set status = 'Active' %}
                            {% set bg_color = 'bg-green-400 hover:bg-green-500' %}
                        {% elif ip_info.status == '0' %}
                            {% set status = 'Down' %}
                            {% set bg_color = 'bg-red-400 hover:bg-red-500' %}
                        {% elif ip_info.status == '3' %}
                            {% set status = 'Warning' %}
                            {% set bg_color = 'bg-yellow-400 hover:bg-yellow-500' %}
                        {% else %}
                            {% set bg_color = 'bg-blue-400 hover:bg-blue-500' %}
                        {% endif %}
                        <a href="{{ url_for('show_ip', ip_id=ip_id) }}" 
                           class="{{ bg_color }} ip-grid-item text-white font-bold p-1 rounded transition duration-200 ease-in-out text-center"
                           data-status="{{ status }}"
                           style="font-size: 0.75rem;">
                            {{ ip.compressed.split('.')[-1] }}
                        </a>
                    {% else %}
                        <!-- Available IPs - Grey -->
                        <a href="#" onclick="openAddIpModal('{{ ip.compressed }}')" 
                           class="bg-gray-500 hover:bg-gray-600 ip-grid-item text-white font-bold p-1 rounded transition duration-200 ease-in-out text-center"
                           data-status="Available"
                           style="font-size: 0.75rem;">
                            {{ ip.compressed.split('.')[-1] }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Pie Chart Section taking 1/4 space -->
        <div class="bg-gray-900 dark:bg-gray-800 p-4 rounded-lg shadow">
            <h3 class="text-xl text-gray-300 dark:text-gray-400 mb-4">IP Status Distribution</h3>
            <!-- Add Reset Button -->
            <button onclick="resetFilters()" class="mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded">
                Reset Filters
            </button>
            <div id="ipChart" class="w-full h-64"></div>
        </div>
    </div>

    <!-- IP Table with Status and Details -->
    <div class="bg-gray-900 dark:bg-gray-800 p-6 rounded-lg shadow">
        <table id="selection-table" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-700">
                <tr>
                    <!-- Updated Table Headers with Flowbite Style -->
                    <th>
                        <span class="flex items-center">
                            Status
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                            </svg>
                        </span>
                    </th>
                    <!-- Repeat for other headers -->
                    <!-- ... -->
                    <th>
                        <span class="flex items-center">
                            IP Address
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                            </svg>
                        </span>
                    </th>
                    <!-- Continue for all other columns -->
                    <!-- ... -->
                    <th>
                        <span class="flex items-center">
                            Actions
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ip in ips %}
                {% set status = 'Unknown' %}
                {% if ip.status == '1' %}
                    {% set status = 'Active' %}
                {% elif ip.status == '0' %}
                    {% set status = 'Down' %}
                {% elif ip.status == '3' %}
                    {% set status = 'Warning' %}
                {% endif %}
                <tr data-status="{{ status }}">
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% if ip.status == '1' %}
                            <i class="fa-solid fa-network-wired text-green-400 text-xl"></i>
                        {% elif ip.status == '0' %}
                            <i class="fa-solid fa-network-wired text-red-400 text-xl"></i>
                        {% elif ip.status == '3' %}
                            <i class="fa-solid fa-network-wired text-yellow-400 text-xl"></i>
                        {% else %}
                            <i class="fa-solid fa-network-wired text-gray-400 text-xl"></i>
                        {% endif %}
                        <span class="sr-only">{{ status }}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 dark:text-gray-100">
                        {{ ip.address }}
                    </td>
                    <!-- Repeat for other columns -->
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <div class="flex space-x-4">
                            <a href="{{ url_for('show_ip', ip_id=ip.id) }}" class="text-indigo-600 hover:text-indigo-900">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a href="{{ url_for('edit_ip', ip_id=ip.id) }}" class="text-indigo-600 hover:text-indigo-900">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

<!-- Modal for adding IP -->
<div id="addIpModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!-- Modal Overlay -->
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <!-- Modal Content -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-gray-900 dark:bg-gray-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-gray-900 dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <!-- Modal Header -->
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-100" id="modal-title">
                            Add IP
                        </h3>
                        <div class="mt-2">
                            <!-- Modal Form -->
                            <form id="addIpForm" method="POST" action="{{ url_for('add_ip', subnet_id=subnet.id) }}">
                                <div class="mb-4">
                                    <label for="address" class="block text-sm font-medium text-gray-400">IP Address</label>
                                    <select name="address" id="address" class="mt-1 block w-full bg-gray-700 text-white border-gray-600 rounded-md shadow-sm">
                                        {% for ip in available_ips %}
                                        <option value="{{ ip }}">{{ ip }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="status" class="block text-sm font-medium text-gray-400">Status</label>
                                    <input type="text" name="status" id="status" class="mt-1 block w-full bg-gray-700 text-white border-gray-600 rounded-md shadow-sm">
                                </div>
                                <div class="mb-4">
                                    <label for="owner" class="block text-sm font-medium text-gray-400">Owner</label>
                                    <input type="text" name="owner" id="owner" class="mt-1 block w-full bg-gray-700 text-white border-gray-600 rounded-md shadow-sm">
                                </div>
                                <div class="mb-4">
                                    <label for="description" class="block text-sm font-medium text-gray-400">Description</label>
                                    <textarea name="description" id="description" class="mt-1 block w-full bg-gray-700 text-white border-gray-600 rounded-md shadow-sm"></textarea>
                                </div>
                                <div class="flex justify-end">
                                    <button type="button" onclick="toggleModal()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">Cancel</button>
                                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>
                                </div>
                            </form>
                            <!-- End Modal Form -->
                        </div>
                    </div>
                </div>
                <!-- End Modal Header -->
            </div>
        </div>
        <!-- End Modal Content -->
    </div>
</div>

<!-- Scripts -->
<script>
function toggleModal() {
    const modal = document.getElementById('addIpModal');
    modal.classList.toggle('hidden');
}

function openAddIpModal(ipAddress) {
    document.getElementById('address').value = ipAddress;
    toggleModal();
}
</script>

<script>
    function resetFilters() {
        // Reset the chart's selection
        chart.resetSeries();

        // Reset filters
        filterByStatus('All');
    }

    document.addEventListener('DOMContentLoaded', () => {
        // Initialize the chart with all statuses
        const options = {
            series: {{ chart_series | tojson }},
            chart: {
                type: 'pie',
                height: '100%',
                background: 'transparent',
                events: {
                    dataPointSelection: function(event, chartContext, config) {
                        const selectedStatus = config.w.config.labels[config.dataPointIndex];
                        filterByStatus(selectedStatus);
                    }
                }
            },
            labels: {{ chart_labels | tojson }},
            colors: {{ chart_colors_list | tojson }},
            legend: {
                position: 'bottom',
                labels: {
                    colors: ['#d1d5db']
                }
            },
            dataLabels: {
                style: {
                    colors: ['#ffffff']
                }
            }
        };

        // Make 'chart' accessible globally
        window.chart = new ApexCharts(document.querySelector("#ipChart"), options);
        chart.render();

        // Initialize DataTable
        if (document.getElementById("selection-table") && typeof simpleDatatables.DataTable !== 'undefined') {

            let multiSelect = true;
            let rowNavigation = false;
            let table = null;

            const resetTable = function() {
                if (table) {
                    table.destroy();
                }

                const options = {
                    perPage: 25, // Set default entries per page
                    perPageSelect: [25, 50, 300, 0], // Options for entries per page (0 represents 'All')
                    sortable: true,
                    searchable: true,
                    fixedHeight: true,
                    rowRender: (row, tr, _index) => {
                        if (!tr.attributes) {
                            tr.attributes = {};
                        }
                        if (!tr.attributes.class) {
                            tr.attributes.class = "";
                        }
                        if (row.selected) {
                            tr.attributes.class += " selected";
                        } else {
                            tr.attributes.class = tr.attributes.class.replace(" selected", "");
                        }
                        return tr;
                    }
                };

                if (rowNavigation) {
                    options.rowNavigation = true;
                    options.tabIndex = 1;
                }

                table = new simpleDatatables.DataTable("#selection-table", options);

                // Mark all rows as unselected
                table.data.data.forEach(data => {
                    data.selected = false;
                });

                table.on("datatable.selectrow", (rowIndex, event) => {
                    event.preventDefault();
                    const row = table.data.data[rowIndex];
                    if (row.selected) {
                        row.selected = false;
                    } else {
                        if (!multiSelect) {
                            table.data.data.forEach(data => {
                                data.selected = false;
                            });
                        }
                        row.selected = true;
                    }
                    table.update();
                });

                // Make 'table' variable accessible globally for filtering
                window.dataTable = table;
            };

            // Disable row navigation on mobile devices
            const isMobile = window.matchMedia("(any-pointer:coarse)").matches;
            if (isMobile) {
                rowNavigation = false;
            }

            resetTable();
        }

        function filterByStatus(status) {
            // Filter IP grid
            const gridItems = document.querySelectorAll('.ip-grid-item');
            gridItems.forEach(item => {
                if (status === 'All' || item.dataset.status === status) {
                    item.classList.remove('hidden');
                } else {
                    item.classList.add('hidden');
                }
            });

            // Filter DataTable
            if (status === 'All') {
                dataTable.columns().search('');
            } else {
                dataTable.columns(0).search(status);
            }
            dataTable.update();
        }

        // Make filterByStatus accessible globally
        window.filterByStatus = filterByStatus;

    });
</script>

    
    
    

{% endblock %}
