{% extends "base.html" %}
{% block content %}
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="text-3xl text-gray-400 dark:text-gray-500 mb-4">
        Available Switches
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for switch in switches %}
        <a href="{{ url_for('show_switch', switch_id=switch.id) }}" class="block bg-gray-900 dark:bg-gray-800 p-6 rounded-lg shadow hover:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex items-center space-x-6">
                <i class="fa-solid fa-network-wired text-blue-500 text-5xl"></i>
                <div class="text-left">
                    <div class="text-2xl font-semibold text-white">{{ switch.hostname }}</div>
                    <div class="text-lg text-gray-400">{{ switch.ip_address }}</div>
                    <div class="text-lg text-gray-400">{{ switch.location }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
